* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    background-image: url('./imagens/fundo.jpeg');
    background-size: cover; 
    background-position: center center; 
}

.altura-minima-100 {
    min-height: 100vh;
}

.d-flex {
    display: flex;
}

.alinhar-itens-centro {
    align-items: center;
}

.justificar-conteudo-centro {
    justify-content: center;
}

.cartao {
    width: 100%;
    max-width: 600px; 
    border-radius: 8px;
    background-color: rgb(181, 220, 241);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.campo-form {
    margin-bottom: 15px;
}

.tabela {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.tabela th, .tabela td {
    padding: 20px;
    text-align: left;
    border: 1px solid #ddd;
}

.margem-superior {
    margin-top: 50px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    padding-top: 0; 
}

.textoBranco {
    color: rgb(253, 253, 253);
    font-family: 'arial narrow';
    padding-left: 100px;
}

#calendario {
    width: 100%;
    margin-top: 20px; 
}

#form-agendamento-detalhes {
    display: none;
    margin-top: 20px;
}

#data-agendada {
    width: 100%;
    margin-bottom: 10px;
}
#tela-confirmacao {
    margin-top: 30px;
    text-align: center;
}

#tela-confirmacao h3 {
    color: #28a745; 
    font-size: 24px;
}

#tela-confirmacao p {
    margin-top: 10px;
    font-size: 18px;
}

#tela-confirmacao .btn {
    margin-top: 20px;
}

